<form [formGroup]="staffForm" (ngSubmit)="onSubmit()" class="row g-1">
  <div class="col-md-4">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control form-control-sm" id="name" formControlName="name"
      [ngClass]="{ 'is-invalid': submitted && staffForm.controls.name.errors?.required }"
      placeholder="Name *">
    <div *ngIf="submitted && staffForm.controls.name.errors?.required" class="text-danger">
      <div>Name is required.</div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control form-control-sm" id="email" formControlName="email"
      [ngClass]="{ 'is-invalid': submitted && (staffForm.controls.email.errors?.required || staffForm.controls.email.errors?.email) }"
      placeholder="Email *">
    <div *ngIf="submitted && staffForm.controls.email.errors?.required" class="text-danger">
      <div>Email is required.</div>
    </div>
    <div *ngIf="submitted && staffForm.controls.email.errors?.email" class="text-danger">
      <div>Invalid email format.</div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="dob" class="form-label">DOB</label>
    <input matInput id="dob" [disabled]="true" placeholder="DOB *" class="form-control form-control-sm" formControlName="dob" [matDatepicker]="picker" [ngClass]="{ 'is-invalid': submitted && staffForm.controls.dob.errors?.required }">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [disabled]="false"></mat-datepicker>
    <div *ngIf="submitted && staffForm.controls.dob.errors?.required" class="text-danger">
      <div>Date of birth is required.</div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="gender" class="form-label">Gender</label>
    <select class="form-control form-control-sm" id="gender" formControlName="gender"
      [ngClass]="{ 'is-invalid': submitted && staffForm.controls.gender.errors?.required }"  placeholder="Gender *">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <div *ngIf="submitted && staffForm.controls.gender.errors?.required" class="text-danger">
      <div>Gender is required.</div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="mobile" class="form-label">Mobile</label>
    <input type="tel" class="form-control form-control-sm" id="mobile" formControlName="mobile"
      [ngClass]="{ 'is-invalid': submitted && staffForm.controls.mobile.errors?.required }"
      placeholder="Mobile *"
      (input)="sanitizeMobileInput($event.target)">
    <div *ngIf="submitted && staffForm.controls.mobile.errors" class="text-danger">
      <div *ngIf="staffForm.controls.mobile.errors.required">Mobile is required.</div>
      <div *ngIf="staffForm.controls.mobile.errors.pattern">Invalid mobile number format.</div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="dateOfJoining" class="form-label">Date of Joining</label>
    <input matInput id="dateOfJoining" [disabled]="true" placeholder="Date of Joining *" class="form-control form-control-sm" formControlName="dateOfJoining" [matDatepicker]="joinDatePicker" [ngClass]="{ 'is-invalid': submitted && staffForm.controls.dateOfJoining.errors?.required }">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="joinDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #joinDatePicker [disabled]="false"></mat-datepicker>
    <div *ngIf="submitted && staffForm.controls.dateOfJoining.errors?.required" class="text-danger">
      <div>Date of joining is required.</div>
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-dark" (click)="submitted = true">Submit</button>
    <button type="button" class="btn btn-secondary ms-2" (click)="goBack()">Cancel</button>
  </div>
</form>
