<mat-card>

 <div class="row">
   <div class="col-md-12">
    <h4>Student Admission</h4>
   </div>
 </div>

 <div class="row top-buffer">
  <div class="col-md-12">
   <h6>OFFICAL DETAILS</h6>
  </div>
  <div class="col-md-12">
    <hr class="style1">
  </div>
</div>

 <div class="row top-buffer">
  
  <div class="col-md-4">

    <mat-form-field appearance="legacy">
      <mat-label>Academic Year</mat-label>
      <mat-select>
        <mat-option *ngFor="let yr of academicYears">
          {{yr}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="col-md-4">
  
    <mat-form-field >
      <mat-label>Register Number</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  
  </div>

  <div class="col-md-4">

    <mat-form-field>
      <mat-label>Joining Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>
  <div class="col-md-4">

    <mat-form-field >
      <mat-label>Course</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

  </div>
  <div class="col-md-4">
  
    <mat-form-field >
      <mat-label>Batch</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  
  </div>

  <div class="col-md-4">

    <mat-form-field>
      <mat-label>Roll No</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

  </div>
 </div>

 <div class="row top-buffer">
  <div class="col-md-12">
   <h6>PESRSONAL DETAILS</h6>
  </div>
  <div class="col-md-12">
    <hr class="style1">
  </div>
</div>
</mat-card>