<div class="header">
    <div class="banner">
      <h1>Banner</h1>
    </div>
    <div class="links">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  
  <div class="nav">
    <!-- <ul>
      <li><a class="text-dark" routerLink="/list">Students</a></li>
      <li><a class="text-dark">Teacher</a></li>
      <li><a class="text-dark" routerLink="/marks">Marks</a></li>
      <li><a class="text-dark">Contact</a></li>
    </ul> -->
    <ul class="ul-list">
      <li class="nav-item">
        <a class="nav-link text-black" routerLink="/list">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" routerLink="/addstaff">Staff</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" routerLink="/marks">Marks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black" href="#">Contact</a>
      </li>
    </ul>
    
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
