<div class="container mt-1">
    <h2>Marks Registry</h2>
    <form class="mt-5">
      <div class="mb-3">
        <label for="teacher" class="form-label">Teacher</label>
        <input type="text" class="form-control col-6" id="teacher" placeholder="Enter teacher's name" required>
      </div>
      <div class="mb-3">
        <label for="student" class="form-label">Student</label>
        <input type="email" class="form-control col-6" id="student" placeholder="Enter student's email" required>
      </div>
      <div class="mb-3">
        <label for="class" class="form-label">Class</label>
        <input type="tel" class="form-control col-6" id="class" placeholder="Enter class name" required>
      </div>
      <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="password" class="form-control col-6" id="subject" placeholder="Enter subject" required>
      </div>
      <div class="mb-3">
        <label for="marks" class="form-label">Marks</label>
        <input type="password" class="form-control col-6" id="marks" placeholder="Enter marks" required>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
  