<div class="d-flex justify-content-center align-items-center">
  <strong>Student Information</strong>
</div>

<ol class="alternating-colors">
  <li>
    <strong>ID</strong>
    <p>{{stData.id}}</p>
  </li>
  <li>
    <strong>First Name</strong>
    <p>{{stData.firstName}}</p>
  </li>
  <li>
    <strong>Middle Name</strong>
    <p>{{stData.middleName}}</p>
  </li>
  <li>
    <strong>Last Name</strong>
    <p>{{stData.lastName}}</p>
  </li>
  <li>
    <strong>Email</strong>
    <p>{{stData.email}}</p>
  </li>
  <li>
    <strong>Phone</strong>
    <p>{{stData.phone}}</p>
  </li>
  <li>
    <strong><Address></Address></strong>
    <p>{{stData.address}}</p>
  </li>
  <li>
    <strong>DOB</strong>
    <p>{{stData.dob}}</p>
  </li>
</ol>

<div class="d-flex  justify-content-end">
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>