  
  li {
    color: #4F4F4F;
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
  }
  
 /* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* For Microsoft Edge (Chromium-based) */
*::-ms-scrollbar {
  width: 8px;
}

*::-ms-scrollbar-track {
  background: #f1f1f1;
}

*::-ms-scrollbar-thumb {
  background: #888;
}

*::-ms-scrollbar-thumb:hover {
  background: #555;
}

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the color of the scrollbar thumb on hover */
}

  
  strong {
    color: #292929;
  }

  ol {
    padding-left: 50px;
    list-style-type: none;
  }
  
  
  /* ol.alternating-colors li:nth-child(odd):before {
    border-color: #0BAD02;
  }
  
  ol.alternating-colors li:nth-child(even):before {
    border-color: #2378D5;
  } */
  